.c-login-layout .c-login-field {
  height: 40px;
  width: 350px;
  margin-top: 10px;
}

.c-login-layout .c-login-button {
  background: #1b6198;
  border-radius: 3px;
  color: #e8eff5;
  margin-top: 40px;
  height: 50px;
  width: 200px;
  box-shadow: none;
  font-weight: 700;
}

.c-login-logo {
  margin-bottom: 15px;
}

.c-login-welcome-label {
  font-size: 25px;
  color: #1b6198;
  font-weight: 600;
}

.c-login-locales-select.v-filterselect > input.v-filterselect-input {
  background: 0;
  border-width: 0;
  box-shadow: none;
  text-align: right;
}

.c-login-locales-image {
  height: 20px;
}

.c-login-powered-by-box .v-spacing {
  width: 5px;
}

.c-login-powered-by-label {
  line-height: 40px;
  font-size: 12px;
  font-weight: 900;
  padding-right: 5px;
  width: auto;
}

.c-login-powered-by-link {
  position: absolute;
  margin: 14px 0px;
}

.c-login-powered-by-image {
  margin: 14px 0;
}